ul{
    display: grid;
    grid-template-columns: repeat(7 ,1fr);
    max-width: 600px;
    margin: auto;
    list-style: none;
    gap: 10px;
}
.booked,.free{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(120, 120, 120);
    border: 1px solid rgb(120, 120, 120);
    border-radius: 5px;
    font-weight: 700;
}
.booked{
    background-color: rgba(188, 188, 188, 0.571);
    opacity: .6;
}